
<div class="container-fluid">
    <h3>Restaurant Records</h3>
    <div class = "d-flex">
        <button type="button" (click)="clickAddRestaurant()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Restaurant</button>
        <button routerLink="/login" class="btn btn-danger mx-3">Log Out</button> 
    </div>
</div>


<table class = "table mt-5">
    <thead>
        <tr>
            <th scope="col">Restaurant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No:</th>
            <th scope="col">Address</th>
            <th scope="col">Website Address:</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurantData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.address}}</td>
            <td>{{data.website}}</td>
            <td>{{data.service}}</td>
            
            <td>
                <button type = "button" (click)="onEditRestorant(data)" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;                
                <button class="btn btn-danger" (click)="delRecord(data)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Restaurant Records Form</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <div class="modal-body">
            <form [formGroup]="restaurantForm">
                <div class="mb-3">
                  <label for="resName">Restaurant Name</label><br>
                  <input formControlName="resName" type="text" class="form-control" id="resName" name="resName">          
                </div>
                <div class="mb-3">
                    <label for="email">Email</label><br>
                    <input formControlName="email" type="text" class="form-control" id="email" name="email">          
                </div>
                <div class="mb-3">
                    <label for="phNo">Phone Number:</label><br>
                    <input formControlName="phNo" type="text" class="form-control" id="phNo" name="phNo">          
                </div>
                <div class="mb-3">
                    <label for="address">Shop Address</label><br>
                    <input formControlName="address" type="text" class="form-control" id="address" name="address">          
                </div>
                <div class="mb-3">
                    <label for="webAdd">Website Address</label><br>
                    <input formControlName="webAdd" type="text" class="form-control" id="webAdd" name="webAdd">          
                </div>
                <div class="mb-3">
                    <label for="service">Service</label><br>
                    <input formControlName="service" type="text" class="form-control" id="service" name="service">          
                </div>
                                
            
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="clearForm()" data-bs-dismiss="modal">Clear</button>
          <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addRestaurant()">Add Details</button>
          <button *ngIf="showBtn" type="button" class="btn btn-primary" (click)="updateRestaurant()">Update Details</button>
        </div>
      </div>
    </div>
  </div>
