  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Restaurant Records Form</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <div class="modal-body">
            <form [formGroup]="restaurantForm">
                <div class="mb-3">
                  <label for="resName">Restaurant Name</label><br>
                  <input formControlName="resName" type="text" class="form-control" id="resName" name="resName">          
                </div>
                <div class="mb-3">
                    <label for="email">Email</label><br>
                    <input formControlName="email" type="text" class="form-control" id="email" name="email">          
                </div>
                <div class="mb-3">
                    <label for="phNo">Phone Number:</label><br>
                    <input formControlName="phNo" type="text" class="form-control" id="phNo" name="phNo">          
                </div>
                <div class="mb-3">
                    <label for="address">Shop Address</label><br>
                    <input formControlName="address" type="text" class="form-control" id="address" name="address">          
                </div>
                <div class="mb-3">
                    <label for="webAdd">Website Address</label><br>
                    <input formControlName="webAdd" type="text" class="form-control" id="webAdd" name="webAdd">          
                </div>
                <div class="mb-3">
                    <label for="service">Service</label><br>
                    <input formControlName="service" type="text" class="form-control" id="service" name="service">          
                </div>
                                
            
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Clear</button>
          <button type="button" class="btn btn-primary" (click)="addRestaurant()">Add Details</button>
        </div>
      </div>
    </div>
  </div>
